*{
    margin: 0px;
    padding: 0px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body{
    overflow: hidden;
}
.container-general{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    padding: 25%;
    background-image:url(./../source/bg-illustration.svg);
    background-color: #111729;
    background-size:50%;
    background-repeat: no-repeat;
    background-position: 100%;
    height: 5vh;
    justify-content: center;
}

.img > img{
    width: 15vw;
}
.section-usuario{
    all: unset;
    display: flex;
    flex-direction: row;
    background-color: #0d101b;
    width: 40vw;
    height: 9vh;
    border: solid 2px #3662E3;
    border-radius: 15px;
    justify-content: space-between;
    padding: 2px;
}

#generador-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.section-usuario > input,
.section-usuario > button{
    all: unset;
}


.section-usuario > input{
    padding: 10px;
    color: white;
}

.section-usuario > button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 3px;
    background-color: #3662E3;
    color: white;
    width: 8vw;
    border-radius: 10px;
    cursor: pointer;
    &:hover{
        background-color: #0d389c;
        transition: all 0.3s ease-in-out;
    }
}




.container-2{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-image:url(./../source/bg-illustration.svg);
    background-color: #111729;
    background-size:50%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-position: 50%;
    box-sizing: border-box;
    padding: 8%;
    .container-qr{
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        justify-content: center;
        .generador{
            width: 100%;
            height: 100%;
            .container-qr-2{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 380px;
                width: 380px;
                background-color: #1f2e47;
                border-radius: 50%;
                .qr-generado{
                    padding: 10px;
                    border-radius: 30px;
                    background-color: white;
                    img{
                    width: 250px;
                    height: 250px;
                    padding: 10px;
                    }
                }
            }
        }
    }
    .regreso{
        margin-top: 20px;
        a{
            all: unset;
            padding: 10px 20px;
            background-color: #3662E3;
            color: white;
            border-radius: 10px;
            cursor: pointer;
            &:hover{
                background-color: #93b0f5;
                transition: all 0.3s ease-in-out;
            }
        }
    }
}


@media (max-width: 768px){
    body{
        overflow: hidden;
        .container-general{
                padding:5%;
                height: 100vh;
                background-size: 50%;
                background-position: 50% 20px;
                .img{
                    img{
                        width: 35vw;
                    }
                }
                .section-usuario{
                    width: 80vw;
                    height: 10vh;
                    font-size: x-large;
                    button{
                        width: 20vw;
                    }
                }
            }
    }
}
@media (max-width: 768px){
    body{
        overflow: hidden;
        .container-2{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 5%;
            background-position: 50% 20px;
            .logo-aplication{
                img{
                    width: 35vw;
                }
            }
            .container-qr{
                .generador{
                    .container-qr-2{
                        .qr-generado{
                            img{
                                width:200px;
                                height: 200px;
                            }
                        }
                    }
                }
            }
            .regreso{
                a{
                    padding: 20px;
                    font-size: x-large;
                }
            }
        }
        }
}

@media (max-width: 576px){
    body{
        overflow: hidden;
        .container-general{
            padding: 0%;
                .img{
                    margin-bottom: 40px;
                    img{
                        width: 40vw;
                    }
                }
                .section-usuario{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border: none;
                background-color: transparent;
                gap: 10px;
                #url-enlace{
                    width: 70vw;
                    height: 8vh;
                    margin-bottom: 10px;
                    border: solid 2px #3662E3;
                    border-radius: 10px;
                    padding: 30px;
                    }
                #btn-generator{
                    text-align: center;
                    width: 30vw;
                    height: 6vh;
                    padding: 20px;
                }
            }
        }
        }
}